<div class="col-2 bg-white border-right nav-left p-0">
    <div class="row text-center mt-3 px-5">
        <a href="/admin/article/add" class="btn btn-primary rounded-0 col">发表博文</a>
    </div>
    <div class="list-group list-group-flush border-top border-bottom mt-3 text-center">
        <!-- <li class="list-group-item list-group-item-action">
            <a href="/admin/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-home pr-1"></i>访问数据
            </a>
        </li> -->
        <li class="list-group-item list-group-item-action">
            <a href="/admin/article/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-neirongguanli pr-1"></i>文章管理
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="/admin/category/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-leimuguanli pr-1"></i>类目管理
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="/admin/log/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-log pr-1"></i>查看日志
            </a>
        </li>
        <!-- <li class="list-group-item list-group-item-action">
            <a href="/admin/account/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-zhanghuguanli pr-1"></i>账户管理
            </a>
        </li> -->
        <li class="list-group-item list-group-item-action">
            <a href="/admin/article/concomm/" class="text-decoration-none text-secondary">
                <i class="iconfont icon-zhanghuguanli pr-1"></i>评论管理
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a href="/admin/article/tab/" class="text-decoration-none text-secondary">
              <svg t="1666490678966" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2552" width="30" height="30"><path d="M448 853.333333L170.666667 576 576 170.666667H853.333333v277.333333L448 853.333333z m0-119.466666L768 426.666667V256h-170.666667l-307.2 320 157.866667 157.866667zM682.666667 298.666667c25.6 0 42.666667 17.066667 42.666666 42.666666s-17.066667 42.666667-42.666666 42.666667-42.666667-17.066667-42.666667-42.666667 17.066667-42.666667 42.666667-42.666666z" fill="#444444" p-id="2553"></path></svg>标签管理
            </a>
        </li>
        
    </div>
</div>